*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Byekan';
    src: url('../fonts/Byekan.ttf') format('truetype'),
        url('../fonts/Byekan.woff') format('woff');
}

@font-face {
    font-family: lalehzar;
    src: url('../fonts/lalezar.ttf') format('truetype'),
        url('../fonts/lalezar.woff') format('woff');
}

body{
    font-family: Byekan;
}

.header{
    height: 550px;
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 35px;
    text-align: center;
}

.header .nav-list{
    list-style-type: none;
}

.header .nav-list .nav-item{
    display: inline-block;
    padding: 15px;
    font-size: 16px;
}

.header .nav-list .nav-item:hover{
    color: orangered;
}

.header .title{
    font-size: 60px;
    font-family: lalehzar;
    margin-top: 90px;
}

span{
    color: orangered;
}

.header .desc{
    width: 450px;
    margin: auto;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 55px;
    border-radius: 30px;
    border: 1px solid #fff;
    margin-top: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.member{
    text-align: center;
}

.member-header{
    margin-top: 40px;
}

.nav-member{
    list-style-type: none;
    margin-top: 20px;
}

.list-member{
    width: 350px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}   

.list-member:hover{
    width: 360px;
    box-shadow: 0 0 5px rgb(7, 243, 58);
}

.member-pic{
    width: 100%;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.member-name{
    font-size: 18px;
}

.member-bio{
    text-align: justify;
}

.about{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding-top: 50px;
    background-color: #373837;
    background-blend-mode: multiply;

}

.circle{
    width: 600px;
    height: 600px;
    background-color: rgba(135, 135 ,135, 0.3);
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding: 100px 120px;
    color: #fff;

}

.circle h2{
    font-size: 35px;
}

.circle p{
    margin-top: 40px;
    text-align: justify;
}

.footer{
    background-color: lightgray;
    height: 140px;
}

.footer-h{
    background-color: gray;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.footer-h img{
    width: 45px;
    margin:10px 0;
}

.footer p{
    padding-top: 5px;
    text-align: center;
}